{% load static %}
<html>
    <head>
        <title>blog Do Thiago</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
        <div class="page-header">
            <div class="cabecalho">
                {% if user.is_authenticated %}
                    <a href="{% url 'novo_post' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                {% endif %}
                <h1><a href="{% url 'lista_post' %}">blog Do Thiago</a></h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'hi' %}">Hi</a></li>
                    <li><a href="https://github.com/ThiiagoArcanjo">Portfólio</a></li>
                    <li><a href="{% url 'lista_post' %}">Posts</a></li>
                </ul>
            </div>
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
      
        <footer class="rodape">
            <span class="copy">&copy; Copyright 2019, Desenvolvido por: <a href="https://github.com/ThiiagoArcanjo">Thiago</a>  <a href="https://www.djangoproject.com/">com Django</a></span>
        </footer>
    </body>
</html>