{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h2>{{ post.titulo }}</h2>
        {% if post.data_de_publicacao %}
           <div class="date">
                {{ post.data_de_publicacao }}
            </div>
        {% endif %}

        <p>{{ post.texto|linebreaksbr }}</p>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edite' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'confirmar_exclusao' pk=post.pk %}"><span class="glyphicon glyphicon-rubber">Apagar</a>
        {% endif %}

    </div>
{% endblock %}