html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 a, h2 a{
    color: #00c23a;
    font-family: 'Lobster';
    font-size: 75px;
}

.page-header{
    background-color: rgb(3, 110, 50); 
    margin-top: 0;
    padding: 20px 20px;  
    text-align: center;
    
}

/* Inclinando a div ao pasasr o mouse */
.cabecalho:hover{
    -webkit-transform: rotateZ(-1deg);
    -ms-transform: rotateZ(-1deg);
    transform: rotateZ(-1deg);
    text-shadow: 2px 2px 2px #aaa

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
    color: #ffffff;
    text-decoration: none;
}

.content{
    margin-left: 40px;
    min-height: 100%;
    margin-bottom: -10px;
}

h1, h2, h3, h4{
    font-family: 'Lobster', cursive;
}

.date{
    color: #828282;
    font-family: 'Tangerine', serif;
    font-size: 20pt;
}

.save{
    float: right;
}

.post-form textarea, .post-form input{
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited{
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post{
    margin-bottom: 70px;
}

/* Inclinando a div ao pasasr o mouse */
.titulo:hover{
    -webkit-transform: rotateZ(+2deg);
    -ms-transform: rotateZ(+2deg);
    transform: rotateZ(+2deg);
}

.post h2 a, .post h2 a:visited {
    color: #021d0b;
    font-size: 30pt;
}

.menu{
    font-family: Brush Script MT, Brush Script Std, cursive ;
    font-size:12px;
}

.menu ul{
    margin: 0;
    padding:0;
}

.menu li {
    list-style: none; 
    margin: 10px;
    display: inline;
}

.menu li a {
    padding: 5px 10px; 
    margin:0;
    text-decoration: none;
    color:#FFF;
    font-size: 20pt;
    font-family: Brush Script MT, Brush Script Std, cursive ;
}

.menu li a:hover{
   text-shadow: 2px 2px 2px #aaa
}

.hi{
    text-align: center;
    width: 100%;

}

.rodape{
    background-color: rgb(1, 44, 20); 
    padding: 10px 10px;  
    text-align: right;
    color: beige;
    margin-bottom: 0px;
	width:100%;
    position: static;
    bottom:0;
    left: 0;

	
}